#info_container,#topdown_container,#bottomup_container{
    min-height:500px;
    padding:2rem 4rem;
}

#info_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#info_container>p{
    width:25ch;
    font-size: 1.5em;
}

#topdown_container{
    background-color: #fedfdf;
}

#topdown_container>.heading,#bottomup_container>.heading{
    /* text-align: right; */

}
#bottomup_container>.heading{
    text-align: right;
}

#topdown_container>.main_section,#bottomup_container>.main_section{
    width:100%;
    margin:2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.main_section>p{
    font-size:1.5rem;
    width:50ch;
    margin-inline:2rem;
}
