section{
    min-height:400px;
    /* border-bottom: 1px solid black; */
    padding:1rem 2rem;
}

/*only shown to new user with no skills*/
#new_user_section{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
#new_user_section>img{
    width:60%;
}
#new_user_section>.sub_container{
    padding:1rem;
}
section p{
    font-size:1.5em;
    /* margin-inline:2rem; */
    margin:1rem 0;
}
#get_started_btn{
    background-color: #44d;
    color:#fff;
    border:none;
    padding: 1em;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
}




@media screen and (max-width: 550px) {
    section{
        min-height:400px;
        padding:1rem 1rem;
    }
    #new_user_section{
        flex-direction: column-reverse;
    }

    #new_user_section>img{
        width:100%;
    }

    #new_user_section>.sub_container{
        font-size:0.7rem;
    }


}



